<p id="notice"><%= notice %></p>

<h1>Place Of Interests!</h1>
 <p> Use this guide to find your adventure</p>

 <img src= "http://yesofcorsa.com/wp-content/uploads/2015/08/3366_yellowstone_national_park.jpg">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>National park</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_of_interests.each do |place_of_interest| %>
      <tr>
        <td><%= place_of_interest.name %></td>
        <td><%= place_of_interest.latitude %></td>
        <td><%= place_of_interest.longitude %></td>
        <td><%= place_of_interest.address %></td>
        <td><%= place_of_interest.national_park %></td>
        <td><%= link_to 'Show', place_of_interest %></td>
        <td><%= link_to 'Edit', edit_place_of_interest_path(place_of_interest) %></td>
        <td><%= link_to 'Destroy', place_of_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place of interest', new_place_of_interest_path %>
